*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: black;
  scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
.fa-regular{
    border-radius: 50%;
    border: none;
    color:red;
}
.fa-regular:hover{
  border-radius: 50%;
  background-color:rgba(235, 224, 224, 0.889);
 box-shadow: 0 0 10px rgba(227, 224, 224, 0.923);   
transition: 1s;
}
.section-1{
    height: 100vh;
  background-image: url('/Artboard\ 2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
nav{
    position: absolute;
    top:10px;
    right: 0;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    gap: 100px;
    width: 50%;

}
nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.section-1-box{
    /* background-color: red; */
    width: 50%;
    position: absolute;
    right: 0;
    top: 100px;
    height: 50%;
    color: white;
}
.section-1-box h1{
    font-size: 100px;
}
.section-1-box p{
    font-size:20px;
margin-bottom: 5px;
width: 80%;
}
.section-1-box button{
  padding: 10px;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  color: white;
  background-color: red;
   box-shadow: 0 0 10px rgba(255, 0, 0, 0.923); 
  border-radius: 5px;
  border: none;
}
.section-1-box button:hover{

color: white;
background-color:rgba(252, 9, 9, 0.889);
 box-shadow: 0 0 10px rgba(255, 0, 0, 0.923);   
transition: 1s;
}




/* section 1 End  */


/* section 2 start  */

.section-2{
      height: 100vh;
  background-image: url('/img/section-2-bg-Image.jpg'); 
/* background-color:rgba(0, 0, 0, 0.963);  */
  background-size: cover;
  background-position: center;
 position: relative;
 color: white;

 display: flex;
 flex-direction: row;
gap: 100px;
align-items: center;

}
.section-2-img img{
  margin-left: 110px;
/* padding: 50px; */
height: 600px;
width: 600px;
display: flex;

}
.section-2-skills{
  height: 600px;
  width: 600px;


}
.section-2-skills h1{

  font-size: 40px;
margin-bottom:5px;
  margin-left:15px ; 
}
.section-2-skills p{
  font-size: 15px;
  margin-bottom:5px;
  margin-left:15px ;
}
.section-2-skills span{
  color: red;
  font-size: 15px;
  margin-bottom:5px;
  margin-left:15px ;
}
.ul-list{

display: flex;
justify-content: space-evenly;
font-size: 15px;
}
/* section 2 end  */



/* section 3 start  */
.section-3{
      height: 80vh;
  background-image: url('/img/section\ 3.jpg'); 
/* background-color:rgba(0, 0, 0, 0.963);  */
  background-size: cover;
  background-position: center;
 position: relative;
 color: white;
display: flex;
flex-direction: column;

}
.section-start h1{
margin-top: 50px;
margin-bottom: 10PX;
text-align: center;
}
.section-start p{

text-align: center;
}
.section-3-box{
  display: flex;
 align-items: center;
gap: 40px;
 width: auto;
  height: 800px;
}
.section-3-box1{
  display: flex;
  flex-direction: column;
align-items: end;
 margin-top: 30px;
gap: 25px;
  width:700px;
  height: 400px;
}
.section-3-box1 span{
  height: 28px;
  width: 70px;
  background-color: red;
  border: none;
  color: white;
border-radius: 7px;
padding: 9px;
text-align: center;
}
.section-3-box2{
display: flex;
flex-direction: column;
gap: 8px;
border: 2px solid black;
 width:700px;
  height: 400px;
  position: relative;
}
.progrm{
  position: absolute;
  background-color: red;
  height: 18px;
  width: 35px;
  text-align: center;
right: 20%;
top: 3%;
border-radius:0px 8px;
}


.progressBar{
  width: 100%;
  height: 5px;
  background-color: grey;
}

.progress{
  height: 5px;
  width: 80%;
  background: red;
}
.progrm-1{
  position: absolute;
  background-color: red;
  height: 18px;
  width: 35px;
  text-align: center;
right: 50%;
top: 15%;
border-radius:0px 8px;
}

.progressBar-1{
  width: 100%;
  height: 5px;
  background-color: grey;
}

.progress-1{
  height: 5px;
  width: 50%;
  background: red;
}
.progrm-2{
  position: absolute;
  background-color: red;
  height: 18px;
  width: 35px;
  text-align: center;
right: 40%;
top: 28%;
border-radius:0px 8px;
}

.progressBar-2{
  width: 100%;
  height: 5px;
  background-color: grey;
}

.progress-2{
  height: 5px;
  width: 60%;
  background: red;
}
.progrm-3{
  position: absolute;
  background-color: red;
  height: 18px;
  width: 35px;
  text-align: center;
right: 5%;
bottom: 55%;
border-radius:0px 8px;
}

.progressBar-3{
  width: 100%;
  height: 5px;
  background-color: grey;
}

.progress-3{
  height: 5px;
  width: 95%;
  background: red;
}
.progrm-4{
  position: absolute;
  background-color: red;
  height: 18px;
  width: 35px;
  text-align: center;
right: 10%;
bottom: 43%;
border-radius:0px 8px;
}

.progressBar-4{
  width: 100%;
  height: 5px;
  background-color: grey;
}

.progress-4{
  height: 5px;
  width: 90%;
  background: red;
}

/* section 3 end  */
/* section 4 start  */
.section-4{
        height: 50vh;
  background-image: url('/img/section\ 3.jpg'); 
background-size: cover;
  background-position: center;
 position: relative;
 color: white;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.box-section-1{
  display: flex;
 width: 250px;
 background-color: rgba(255, 255, 255, 0.1);
align-items: center;
text-align: center;
padding: 20px;
flex-direction: column;
}

.box-section-1 i{
  color:red;
  font-size: 90px;

}




/* section 4 end */
@media only screen and (max-width: 600px) {

  .section-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/section-1-phone.jpg');
    background-size: cover;
  background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.section-1{
  background-color: black;
    height: 100vh;
    width: 100%;
  background-image:none ;
  z-index: 4
  /* background-size: cover;
  background-position: center;
  position: relative; */
  /* backdrop-filter: brightness(-50); */

}
nav{
    position: absolute;
    top:10px;
    right: 0;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 100%;

}
nav a{
    color: white;
 text-decoration: none;
}
.section-1-box{

    width: 70%;
 
}
.section-1-box h1{
    font-size: 50px;
}
.section-1-box p{
    font-size:15px;
margin-bottom: 5px;
width: 100%;
}
/* second */

.section-2{
      height: 100vh;
  background-image: url('/img/section-2-bg-Image.jpg'); 
/* background-color:rgba(0, 0, 0, 0.963);  */
  background-size: cover;
  background-position: center;
  width: 100%;

 color: white;
display: flex;
 flex-direction: column;
gap: 20px;
align-items: center;

}
.section-2-img img{
margin: 20px;
height: 350px;
width: 350px;


}
.section-2-skills{
  height: 350px;
  width: 350px;


}
.section-2-skills h1{

  font-size: 30px;
}
.section-2-skills p{
  font-size: 10px;
  /* margin-bottom:5px;
  margin-left:15px ; */
}
.section-2-skills span{
  color: red;
  font-size: 15px;

}
.ul-list{
font-size: 10px;
}
/* third */
.section-3{
      height: 100vh;
      width: 100%;
  background-image: url('/img/section\ 3.jpg'); 
/* background-color:rgba(0, 0, 0, 0.963);  */
  background-size: cover;
  background-position: center;
 position: relative;
 color: white;
display: flex;
flex-direction: column;

}

.section-start p{
font-size: 10px;}


.section-3-box{
  display: flex;
 align-items: center;
flex-direction: column;
gap: 10px;
width: auto;

}
.section-3-box1{
  display: flex;
  flex-direction:column;

align-items: center;
 width:350px;
  height: 250px;
}
.section-3-box1 span{
  height: 28px;
  width: 70px;
}
.section-3-box2{

width:350px;
  height: 400px;

}
/* 4th */
.section-4{
        height:50vh;
        width: 100%;
  background-image: url('/img/section\ 3.jpg'); 
display: grid;
grid-template-columns: auto auto;
}
.box-section-1{
  display: flex;
 width: 150px;
}

.box-section-1 i{
font-size: 30px;
}
}




